**Soal 1**

In [3]:
#Dataset
dataset = {
    'mahasiswa': [
    'Bima',
    'Ikhsan',
    'Dinda',
    'Gerald',
    'Dinda',
    'Saif',
    'Yanuar',
    'Dede',
    'Fadil',
    'Putra',
    'Yusuf',
    'Abdel',
    'Dion',
    'Adam',
    'Salsa',
    'Fadilah',
    'Shasa',
    'Zahra',
    'Raihan',
    'Banu'
]}

dataset['mahasiswa'].append('Yahya')
dataset['mahasiswa'].append('Hilmi')
dataset['mahasiswa'].append('Rendi')
dataset['mahasiswa'].append('Toriq')
dataset['mahasiswa'].append('Satrio')

for name in dataset['mahasiswa']:
    print(name)

Bima
Ikhsan
Dinda
Gerald
Dinda
Saif
Yanuar
Dede
Fadil
Putra
Yusuf
Abdel
Dion
Adam
Salsa
Fadilah
Shasa
Zahra
Raihan
Banu
Yahya
Hilmi
Rendi
Toriq
Satrio

In [4]:
#List
list = [
    'Bima',
    'Ikhsan',
    'Dinda',
    'Gerald',
    'Dinda',
    'Saif',
    'Yanuar',
    'Dede',
    'Fadil',
    'Putra',
    'Yusuf',
    'Abdel',
    'Dion',
    'Adam',
    'Salsa',
    'Fadilah',
    'Shasa',
    'Zahra',
    'Raihan',
    'Banu',
]

list.insert(21, 'Yahya')
list.insert(22, 'Hilmi')
list.insert(23, 'Rendi')
list.insert(24, 'Toriq')
list.insert(25, 'Satrio')

for nama in list:
    print(nama)

Bima
Ikhsan
Dinda
Gerald
Dinda
Saif
Yanuar
Dede
Fadil
Putra
Yusuf
Abdel
Dion
Adam
Salsa
Fadilah
Shasa
Zahra
Raihan
Banu
Yahya
Hilmi
Rendi
Toriq
Satrio

In [5]:
#Tuple

tuple_orang = (
    'Bima',
    'Ikhsan',
    'Dinda',
    'Gerald',
    'Dinda',
    'Saif',
    'Yanuar',
    'Dede',
    'Fadil',
    'Putra',
    'Yusuf',
    'Abdel',
    'Dion',
    'Adam',
    'Salsa',
    'Fadilah',
    'Shasa',
    'Zahra',
    'Raihan',
    'Banu',
)

tuple_orang += ('Yahya','Hilmi','Rendi','Toriq','Satrio')
for nama in tuple_orang:
    print(nama)

Bima
Ikhsan
Dinda
Gerald
Dinda
Saif
Yanuar
Dede
Fadil
Putra
Yusuf
Abdel
Dion
Adam
Salsa
Fadilah
Shasa
Zahra
Raihan
Banu
Yahya
Hilmi
Rendi
Toriq
Satrio

**Soal 2**

In [89]:
def piknik_or_buku(a, b):
    return not(not a and not b)

def dosen_informatika(a, b):
    return not(not a or not b)

piknik = True
buku = False

L = True
P = True

print("Soal A:",piknik_or_buku(piknik,buku),"\nSoal B:",dosen_informatika(L,P))

Soal A: True
Soal B: True

**Soal 3**

In [43]:
def luas_lap(a,b):
    return a*b

panjang = 90
lebar = 45

print("Luas Lapangan:",luas_lap(panjang,lebar))

Luas Lapangan: 4050

**Soal 4**

In [88]:
def convert(no):
    bn_no = bin(no)
    hx_no = hex(no)
    oc_no = oct(no)
    print(f"Nomor Biner: {bn_no[2:]}\nNomor Heksa: {hx_no[2:]}\nNomor Oktal: {oc_no[2:]}")

print(convert(181743))

Nomor Biner: 101100010111101111
Nomor Heksa: 2c5ef
Nomor Oktal: 542757
None

In [80]:
NIMS = (23090043,23090002,23090121,23090072,23090092)

i=1
for NIM in NIMS:
    print(f"NIM Biner {i}: {bin(NIM)[2:]}")
    i+=1
    if i==6:
        print("\n")

i=1
for NIM in NIMS:
    print(f"NIM Heksa {i}: {hex(NIM)[2:]}")
    i+=1
    if i==6:
        print("\n")

i=1
for NIM in NIMS:
    print(f"NIM Oktal {i}: {oct(NIM)[2:]}")
    i+=1
    if i==6:
        print("\n")

NIM Biner 1: 1011000000101001101111011
NIM Biner 2: 1011000000101001101010010
NIM Biner 3: 1011000000101001111001001
NIM Biner 4: 1011000000101001110011000
NIM Biner 5: 1011000000101001110101100


NIM Heksa 1: 160537b
NIM Heksa 2: 1605352
NIM Heksa 3: 16053c9
NIM Heksa 4: 1605398
NIM Heksa 5: 16053ac


NIM Oktal 1: 130051573
NIM Oktal 2: 130051522
NIM Oktal 3: 130051711
NIM Oktal 4: 130051630
NIM Oktal 5: 130051654